
body { margin 0;} 
body * {box-sizing: border-box;}

html, body {
 height:100%;
 padding:0;
 margin:0;
}

.navbar {
  overflow: hidden;
  background-color: white;
  position: sticky; 
  top: 0;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
}

btn{
  color: white;
  background-color:#00cc99;
  border-radius: .25em;
  height: auto;
  cursor: pointer;
  overflow: hidden;
}
btn:hover {
  opacity: 0.6}

.nav-left {
  float: left;
  display: inline-block;
  color: #999999;
  text-align: center;
  padding: 24px 16px;
  text-decoration: none;
  font-size: 3em;
  font-family: arial;
  overflow: hidden; 
}

.nav-right{
  float: right;
  display: inline-block;
  color: #006699;
  text-align: center;
  padding: 24px 16px;
  margin-top: 10px;
  text-decoration: none;
  font-family: arial;
  font-weight: bold;
  overflow: hidden;
}

.navbar a:hover {
  background: white;
  color: #00cc99;
  overflow: hidden;
}

.header{
  background:  url(https://i.pinimg.com/originals/33/b9/f9/33b9f99c8570eed950b9fe0358a589fa.jpg);
  background-size: cover;
  height:auto;
  width: 100vw;
  overflow: hidden;
}

h1{
  font-family: arial;
  font-weight: 100;
  font-size: 4em;
  color:#006699;
  padding: 0%;
  text-align: left;
  
}

.form{
 padding: 10%;
}

.form-group {
  padding: 1.5em;
  background:white;
  width: 40%;
  height: 40%;
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, .19)
}

.form-control {
  display: block;
  width: 100%;
  height: 2em;
  margin-bottom: .5em;
  color: white;
  background-color: #00cc99;
  background-clip: padding-box;
  border: 0.0625em  #00cc99;
  border-radius: 0.25em;
  font-size: 1.25em;
}

.form-control:hover{
  opacity: 0.6;
}

h3{
  color:#999999;
  font-size: 1.5em;
  font-weight: 100;
}

.container { 
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 10%;
  padding-right: 10%;
  margin: 2%;
  overflow: hidden;
}

h2{
  text-align: center;
  font-family: arial;
  font-weight: normal;
  font-size: 2.5em;
  color: #006699;
  padding: 1em;
 
}

p{
  font-family: arial;
  text-align: left;
  line-height: 1.5em;
  color: #999999;
  display: center;
  padding: 2em;
}

.column1{
  float: left;
  width: 50%;
  text-align: center;
}

.column2{
  float: left;
  width: 33.33%;
  text-align: center;
}

figure{
  padding: 2% 2% 3% 2%;
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, .19)
}

#img-caption{
  font-family: arial;
  color: #006699;
  font-weight: bold;
  text-align: left;
  padding-top:3%;
}

#image {
  inline: left;
  width: 100%;
}

button {
  display: block;
  margin: auto;
  width: 10em;
  padding: 0.75em;
  margin-bottom: 5%;
  color: #00cc99;
  background-color: white; 
  border: 0.125em solid #00cc99; 
  cursor: pointer;
  overflow: hidden;
  font-size:1em;
 
}

button:hover{
  background-color:#00cc99;
  color: white;
}

.states{
  background-color:#05a3a3;
  background-size: cover;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 10%;
  padding-right: 10%;
  overflow: hidden;
}

 div.statelist a {
   color: white;
   text-decoration: none;
}

ul{
 list-style-type: none;
  float: left;
  width: 20%;
  text-align: center;
  color: white;
  font-family: arial;
  font-size: 1.2em;
  line-height: 1.6;
}

ul li a:hover {
 color:#006699;
}

.footer{
  background-color: #424242;
  padding-top:3%;
  padding-bottom:0%;
  font-family: arial;
  overflow: hidden;
}

.outertable{
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
}

.tableleft{
  float:left;
}

.tableright{
  float: right;
  color: #999999
}

div.footer a{
  color: #00cc99;
}

div.footer a:hover{
  color: #006699;
}

.fa {
  padding: 1.25em;
  font-size: 1.875em;
  width: 1.875em;
  text-align: center;
  text-decoration: none;
  margin: 0.3125em 0.125em;
}

.fa:hover {
    opacity: 0.6;
}

.fa-facebook {
  background: #424242;
  color: #999999 !important;
}

.fa-twitter {
  background: #424242;
  color: #999999 !important;
}




/*Media Queries Start*/
@media (min-width: 2559px){
  html,body{
   
  } 
}


@media (max-width: 1440px) {
  .form-group{
    width: 60%;
  }
  
  h1{
    font-size: 3.5em;
  }
  
}

@media (max-width: 820px) {
  .nav-left{
    font-size: 2.5em;
  }
  
  .nav-right{
    font-size: .7em;
  }
  
  .navbar btn{
     padding: 
  }
  
  h1{
    font-size: 3em;
  }
}

@media (max-width: 767px) {
 .navbar,
 .container,
 .states,
 .outertable{
   padding: 2% 5% 2% 5%;
  }
 
  .column1{
    width: 100%;
  }
  
  .column2{
    width: 100%;
  }

  ul{
    width: 33.33%;
    font-size: 1.2em;
  }
  
  .footer{
    font-size: .9em;
  }
  
  .form-group{
    width: 100%;
  }
}

@media (max-width: 594px){
  .nav-left{
   width: 100%;
 
  }
   .nav-right{
    width: 33%;
    padding: 10px;
  }
} 

@media (max-width: 520px) {
 .navbar,
 .container,
 .states,
 .outertable,
 .header{
   padding: 1% 2% 1% 2%;
  }
  
  h1{
    font-size: 3em;
  }
  
  ul{
    font-size:.9em;
  }
  
  .footer{
    font-size: .7em;
  }
  
  .form-group{
    width: 100%;
  }
  
  
}


 @media (max-width: 390px) {
 .navbar,
 .container,
 .states,
 .outertable{
  padding: 1% 2% 1% 2%;
  }
   
  h1{
    font-size: 2.2em;
  } 
   
 .form-group{
   width: 100%;
  }
   
}   
/*Media Queries End*/
